/dist/

/src/*
!/src/

/src/pentaho-solutions/*
!/src/pentaho-solutions/

/src/pentaho-solutions/system/*
!/src/pentaho-solutions/system/
!/src/pentaho-solutions/system/pentaho.xml

/src/pentaho-solutions/system/common-ui/*
!/src/pentaho-solutions/system/common-ui/
!/src/pentaho-solutions/system/common-ui/themes.xml

/src/pentaho-solutions/system/common-ui/resources/*
!/src/pentaho-solutions/system/common-ui/resources/

/src/pentaho-solutions/system/common-ui/resources/themes/*
!/src/pentaho-solutions/system/common-ui/resources/themes/
!/src/pentaho-solutions/system/common-ui/resources/themes/stratebi/

/src/tomcat/*
!/src/tomcat/

/src/tomcat/webapps/*
!/src/tomcat/webapps/

/src/tomcat/webapps/pentaho/*
!/src/tomcat/webapps/pentaho/
!/src/tomcat/webapps/pentaho/Login/
!/src/tomcat/webapps/pentaho/Home/
!/src/tomcat/webapps/pentaho/index.jsp

/src/tomcat/webapps/pentaho/mantle/*
!/src/tomcat/webapps/pentaho/mantle/
!/src/tomcat/webapps/pentaho/mantle/MantleBridge.jsp
!/src/tomcat/webapps/pentaho/mantle/themes.xml

/src/tomcat/webapps/pentaho/mantle/themes/*
!/src/tomcat/webapps/pentaho/mantle/themes/
!/src/tomcat/webapps/pentaho/mantle/themes/stratebi/

/src/tomcat/webapps/pentaho/WEB-INF/*
!/src/tomcat/webapps/pentaho/WEB-INF/
!/src/tomcat/webapps/pentaho/WEB-INF/web.xml
