/dist/

/src/*
!/src/

/src/tomcat/*
!/src/tomcat/

/src/tomcat/webapps/*
!/src/tomcat/webapps/

/src/tomcat/webapps/pentaho/*
!/src/tomcat/webapps/pentaho/
!/src/tomcat/webapps/pentaho/Login/
!/src/tomcat/webapps/pentaho/Home/
!/src/tomcat/webapps/pentaho/index.jsp

/src/tomcat/webapps/pentaho/mantle/*
!/src/tomcat/webapps/pentaho/mantle/
!/src/tomcat/webapps/pentaho/mantle/MantleBridge.jsp

/src/tomcat/webapps/pentaho/WEB-INF/*
!/src/tomcat/webapps/pentaho/WEB-INF/
!/src/tomcat/webapps/pentaho/WEB-INF/web.xml
