/dist/

/overlay/*
!/overlay/

/overlay/pentaho-solutions/*
!/overlay/pentaho-solutions/

/overlay/pentaho-solutions/system/*
!/overlay/pentaho-solutions/system/
!/overlay/pentaho-solutions/system/pentaho.xml

/overlay/pentaho-solutions/system/common-ui/*
!/overlay/pentaho-solutions/system/common-ui/
!/overlay/pentaho-solutions/system/common-ui/themes.xml

/overlay/pentaho-solutions/system/common-ui/resources/*
!/overlay/pentaho-solutions/system/common-ui/resources/

/overlay/pentaho-solutions/system/common-ui/resources/themes/*
!/overlay/pentaho-solutions/system/common-ui/resources/themes/
!/overlay/pentaho-solutions/system/common-ui/resources/themes/stratebi/

/overlay/tomcat/*
!/overlay/tomcat/

/overlay/tomcat/webapps/*
!/overlay/tomcat/webapps/

/overlay/tomcat/webapps/pentaho/*
!/overlay/tomcat/webapps/pentaho/
!/overlay/tomcat/webapps/pentaho/Login/
!/overlay/tomcat/webapps/pentaho/Home/

/overlay/tomcat/webapps/pentaho/mantle/*
!/overlay/tomcat/webapps/pentaho/mantle/
!/overlay/tomcat/webapps/pentaho/mantle/MantleBridge.jsp
!/overlay/tomcat/webapps/pentaho/mantle/themes.xml

/overlay/tomcat/webapps/pentaho/mantle/themes/*
!/overlay/tomcat/webapps/pentaho/mantle/themes/
!/overlay/tomcat/webapps/pentaho/mantle/themes/stratebi/

/overlay/tomcat/webapps/pentaho/WEB-INF/*
!/overlay/tomcat/webapps/pentaho/WEB-INF/
!/overlay/tomcat/webapps/pentaho/WEB-INF/web.xml
