$system-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$system-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, $system-emoji !default;
$system-serif: 'Apple Garamond', Baskerville, Georgia, 'Times New Roman', 'Roboto Slab', 'Droid Serif', Times, 'Source Serif Pro', serif, $system-emoji !default;
$system-monospace: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace, $system-emoji !default;

$unicode-range-latin: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD !default;
$unicode-range-latin-ext: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF !default;

/* https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&amp;subset=latin-ext */
/* titillium-web-regular-normal-latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url('../fonts/titillium-web-regular-normal-latin.woff2') format('woff2');
	unicode-range: $unicode-range-latin;
}
/* titillium-web-regular-normal-latin-ext */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url('../fonts/titillium-web-regular-normal-latin-ext.woff2') format('woff2');
	unicode-range: $unicode-range-latin-ext;
}
/* titillium-web-regular-italic-latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Titillium Web Italic'), local('TitilliumWeb-Italic'), url('../fonts/titillium-web-regular-italic-latin.woff2') format('woff2');
	unicode-range: $unicode-range-latin;
}
/* titillium-web-regular-italic-latin-ext */
@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Titillium Web Italic'), local('TitilliumWeb-Italic'), url('../fonts/titillium-web-regular-italic-latin-ext.woff2') format('woff2');
	unicode-range: $unicode-range-latin-ext;
}
/* titillium-web-bold-normal-latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url('../fonts/titillium-web-bold-normal-latin.woff2') format('woff2');
	unicode-range: $unicode-range-latin;
}
/* titillium-web-bold-normal-latin-ext */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url('../fonts/titillium-web-bold-normal-latin-ext.woff2') format('woff2');
	unicode-range: $unicode-range-latin-ext;
}
/* titillium-web-bold-italic-latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Titillium Web Bold Italic'), local('TitilliumWeb-BoldItalic'), url('../fonts/titillium-web-bold-italic-latin.woff2') format('woff2');
	unicode-range: $unicode-range-latin;
}
/* titillium-web-bold-italic-latin-ext */
@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Titillium Web Bold Italic'), local('TitilliumWeb-BoldItalic'), url('../fonts/titillium-web-bold-italic-latin-ext.woff2') format('woff2');
	unicode-range: $unicode-range-latin-ext;
}
