/dist/

/ROOT/*
!/ROOT/

/ROOT/tomcat/*
!/ROOT/tomcat/

/ROOT/tomcat/webapps/*
!/ROOT/tomcat/webapps/

/ROOT/tomcat/webapps/pentaho/*
!/ROOT/tomcat/webapps/pentaho/

/ROOT/tomcat/webapps/pentaho/mantle/*
!/ROOT/tomcat/webapps/pentaho/mantle/
!/ROOT/tomcat/webapps/pentaho/mantle/MantleBridge.jsp

/ROOT/tomcat/webapps/pentaho/WEB-INF/*
!/ROOT/tomcat/webapps/pentaho/WEB-INF/
!/ROOT/tomcat/webapps/pentaho/WEB-INF/web.xml
