/dist/

/ROOT/*
!/ROOT/

/ROOT/pentaho-solutions/*
!/ROOT/pentaho-solutions/

/ROOT/pentaho-solutions/system/*
!/ROOT/pentaho-solutions/system/
!/ROOT/pentaho-solutions/system/ImportHandlerMimeTypeDefinitions.xml
!/ROOT/pentaho-solutions/system/pentaho.xml

/ROOT/pentaho-solutions/system/common-ui/*
!/ROOT/pentaho-solutions/system/common-ui/
!/ROOT/pentaho-solutions/system/common-ui/themes.xml

/ROOT/pentaho-solutions/system/common-ui/resources/*
!/ROOT/pentaho-solutions/system/common-ui/resources/

/ROOT/pentaho-solutions/system/common-ui/resources/themes/*
!/ROOT/pentaho-solutions/system/common-ui/resources/themes/

!/ROOT/pentaho-solutions/system/common-ui/resources/themes/stratebi/

/ROOT/pentaho-solutions/system/default-plugin/*
!/ROOT/pentaho-solutions/system/default-plugin/
!/ROOT/pentaho-solutions/system/default-plugin/plugin.xml

/ROOT/tomcat/*
!/ROOT/tomcat/

/ROOT/tomcat/webapps/*
!/ROOT/tomcat/webapps/

/ROOT/tomcat/webapps/pentaho/*
!/ROOT/tomcat/webapps/pentaho/

/ROOT/tomcat/webapps/pentaho/jsp/*
!/ROOT/tomcat/webapps/pentaho/jsp/
!/ROOT/tomcat/webapps/pentaho/jsp/PUCLogin.jsp

/ROOT/tomcat/webapps/pentaho/mantle/*
!/ROOT/tomcat/webapps/pentaho/mantle/
!/ROOT/tomcat/webapps/pentaho/mantle/Mantle.jsp
!/ROOT/tomcat/webapps/pentaho/mantle/themes.xml

!/ROOT/tomcat/webapps/pentaho/mantle/administration/

/ROOT/tomcat/webapps/pentaho/mantle/browser/*
!/ROOT/tomcat/webapps/pentaho/mantle/browser/

/ROOT/tomcat/webapps/pentaho/mantle/browser/css/*
!/ROOT/tomcat/webapps/pentaho/mantle/browser/css/
!/ROOT/tomcat/webapps/pentaho/mantle/browser/css/browser.css

!/ROOT/tomcat/webapps/pentaho/mantle/favorites/

!/ROOT/tomcat/webapps/pentaho/mantle/fragments/

/ROOT/tomcat/webapps/pentaho/mantle/home/*
!/ROOT/tomcat/webapps/pentaho/mantle/home/
!/ROOT/tomcat/webapps/pentaho/mantle/home/index.jsp

/ROOT/tomcat/webapps/pentaho/mantle/messages/*
!/ROOT/tomcat/webapps/pentaho/mantle/messages/
!/ROOT/tomcat/webapps/pentaho/mantle/messages/mantleCustomMessages.properties
!/ROOT/tomcat/webapps/pentaho/mantle/messages/mantleCustomMessages_*.properties

!/ROOT/tomcat/webapps/pentaho/mantle/recents/

!/ROOT/tomcat/webapps/pentaho/mantle/search/

!/ROOT/tomcat/webapps/pentaho/mantle/stadmin/

/ROOT/tomcat/webapps/pentaho/mantle/themes/*
!/ROOT/tomcat/webapps/pentaho/mantle/themes/

!/ROOT/tomcat/webapps/pentaho/mantle/themes/stratebi/
