node_modules/
npm-debug.log*

/dist/

/biserver/*
!/biserver/

/biserver/tomcat/*
!/biserver/tomcat/

/biserver/tomcat/webapps/*
!/biserver/tomcat/webapps/

/biserver/tomcat/webapps/pentaho/*
!/biserver/tomcat/webapps/pentaho/

/biserver/tomcat/webapps/pentaho/customization/*
!/biserver/tomcat/webapps/pentaho/customization/
!/biserver/tomcat/webapps/pentaho/customization/index.html

/biserver/tomcat/webapps/pentaho/mantle/*
!/biserver/tomcat/webapps/pentaho/mantle/
!/biserver/tomcat/webapps/pentaho/mantle/MantleBridge.jsp

/biserver/tomcat/webapps/pentaho/WEB-INF/*
!/biserver/tomcat/webapps/pentaho/WEB-INF/
!/biserver/tomcat/webapps/pentaho/WEB-INF/web.xml
