stages:
  - "build"
  - "deploy"

.variables: &variables
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: "./.gradle/"
  NPM_CONFIG_FUND: "false"
  DISABLE_OPENCOLLECTIVE: "true"

.variables_develop: &variables_develop
  <<: *variables
  ORG_GRADLE_PROJECT_versionSuffix: "-${CI_COMMIT_REF_SLUG}-SNAPSHOT"

.variables_release: &variables_release
  <<: *variables
  ORG_GRADLE_PROJECT_versionSuffix: ""

.artifacts: &artifacts
  expire_in: "30 mins"
  paths:
    - "./lincebi-bundle/build/"
    - "./lincebi-backend/build/"
    - "./lincebi-frontend/build/"
    - "./lincebi-frontend/packages/*/build/"

.cache: &cache
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - "./.gradle/"
    - "./lincebi-frontend/node_modules/"
    - "./lincebi-frontend/packages/*/node_modules/"

.regex:
  # Semantic Versioning 2.0.0 regex (from: https://github.com/npm/node-semver/).
  - &regex_version "/^v?(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][a-zA-Z0-9-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][a-zA-Z0-9-]*))*))?(?:\\+([0-9A-Za-z-]+(?:\\.[0-9A-Za-z-]+)*))?$/"

build:develop:
  stage: "build"
  variables:
    <<: *variables_develop
  script:
    - "./gradlew build"
  artifacts:
    <<: *artifacts
  cache:
    <<: *cache
  except:
    - *regex_version

build:release:
  stage: "build"
  variables:
    <<: *variables_release
  script:
    - "./gradlew build"
  artifacts:
    <<: *artifacts
  cache:
    <<: *cache
  only:
    - *regex_version

deploy:develop:mvn:
  stage: "deploy"
  dependencies:
    - "build:develop"
  variables:
    <<: *variables_develop
  script:
    - "./gradlew publish"
  cache:
    <<: *cache
  except:
    - *regex_version

deploy:release:mvn:
  stage: "deploy"
  dependencies:
    - "build:release"
  variables:
    <<: *variables_release
  script:
    - "./gradlew publish"
  cache:
    <<: *cache
  only:
    - *regex_version
