<?xml version="1.0" encoding="UTF-8"?>
<plugin name="lincebi" title="${lincebi}" loader="DEFAULT">

	<static-paths>
		<static-path url="/lincebi/resources" localFolder="resources" />
	</static-paths>

	<lifecycle-listener class="com.stratebi.lincebi.lifecyclelistener.LifecycleListener" />

</plugin>
