<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>Power BI report</title>
	<!-- https://www.jsdelivr.com/package/npm/powerbi-client -->
	<script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.18.2/dist/powerbi.min.js" integrity="sha256-9nlO7LZhnjnKnvM/Wi6uElzK7IeyKgkFsJg3U67DrLk=" crossorigin="anonymous"></script>
	<style>
		html, body, iframe {
			margin: 0;
			padding: 0;
			border: 0;
			height: 100%;
			width: 100%;
			box-sizing: border-box;
		}

		body {
			display: flex;
			flex-wrap: wrap;
		}

		body > .report {
			flex-grow: 1;
			width: 100%;
			min-height: 100%;
			box-sizing: border-box;
		}

		@media (min-width: 2152px) {
			body > .report {
				width: 50%;
			}
		}
	</style>
</head>

<body>
	<script th:inline="javascript">
		(() => {
			'use strict';

			const { service, factories, models } = window['powerbi-client'];
			const powerbiInstance = new service.Service(factories.hpmFactory, factories.wpmpFactory, factories.routerFactory);

			const embedConfig = JSON.parse(/*[[${embedConfig}]]*/'');

			embedConfig.reports.forEach((report) => {
				const $container = document.createElement('div');
				$container.className = 'report';
				document.body.appendChild($container);

				powerbiInstance.embed($container, {
					type: 'report',
					id: report.id,
					embedUrl: report.embedUrl,
					tokenType: models.TokenType.Embed,
					accessToken: embedConfig.embedToken.token,
					permissions: models.Permissions.Read,
					viewMode: models.ViewMode.View
				});
			});
		})();
	</script>
</body>

</html>
