{
	admin off
	auto_https disable_redirects
}

http://:8080 {
	tls internal {
		on_demand
	}

	redir /* https://{host}:8443{uri} 301
}

https://:8443 {
	tls internal {
		on_demand
	}

	# Pentaho BI Server
	reverse_proxy /* {
		to http://biserver:8080
	}

	# Dev Server (@lincebi/frontend-login)
	reverse_proxy /lincebi/Login/* http://host.docker.internal:3031

	# Dev Server (@lincebi/frontend-home)
	reverse_proxy /lincebi/Home/* http://host.docker.internal:3032
}
