{
	admin off
	auto_https disable_redirects
}

http://localhost:8080,
http://{$FQSU_DOMAIN}:8080 {
	redir /* https://{host}:8443{uri} 301
}

https://localhost:8443,
https://{$FQSU_DOMAIN}:8443 {
	tls internal

	# Pentaho BI Server
	reverse_proxy /* {
		to http://biserver:8080
		header_down Set-Cookie "^(.*)$" "$1; SameSite=Strict; Secure"
	}

	# Webpack Dev Server (@lincebi/frontend-login)
	handle_path /lincebi/Login/* {
		reverse_proxy http://host.docker.internal:8081
	}
	reverse_proxy /ws-login ws://host.docker.internal:8081

	# Webpack Dev Server (@lincebi/frontend-home)
	handle_path /lincebi/Home/* {
		reverse_proxy http://host.docker.internal:8082
	}
	reverse_proxy /ws-home ws://host.docker.internal:8082
}
