http://*:2015 {
	# Pentaho BI Server
	proxy /pentaho 127.0.0.1:8080 {
		transparent
	}
	# Webpack Dev Server
	## @lincebi/biserver-customization-login
	proxy /pentaho/Login/ 127.0.0.1:8081 {
		without /pentaho/Login/
		transparent
	}
	## @lincebi/biserver-customization-home
	proxy /pentaho/Home/ 127.0.0.1:8082 {
		without /pentaho/Home/
		transparent
	}
	redir 302 {
		if {path} is /
		/ /pentaho
	}
	log / stdout
}
