# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
name: "lincebi"

# https://hub.docker.com/_/caddy
x-caddy-image: &caddy-image "docker.io/caddy:2"
# https://github.com/LinceBI/docker-biserver
x-biserver-image: &biserver-image "repo.stratebi.com/lincebi/biserver:9.3"
# https://hub.docker.com/r/bitnami/openldap
# x-openldap-image: &openldap-image "docker.io/bitnami/openldap:2.6"
# https://hub.docker.com/_/postgres
x-postgres-image: &postgres-image "mirror.gcr.io/postgres:17-bookworm"

services:
  caddy:
    image: *caddy-image
    networks:
      - "lincebi"
    ports:
      - "8080:8080/tcp"
      - "8443:8443/tcp"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - "./Caddyfile:/etc/caddy/Caddyfile:ro"
      - "caddy-data:/data/"

  biserver:
    image: *biserver-image
    networks:
      - "lincebi"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - "../lincebi-bundle/build/lincebi.zip:/etc/biserver.init.d/10_lincebi.zip:ro"
      - "./biserver.init.d/30_language-pack-ca.sh:/etc/biserver.init.d/30_language-pack-ca.sh:ro"
      - "./biserver.init.d/30_language-pack-es.sh:/etc/biserver.init.d/30_language-pack-es.sh:ro"
      - "./biserver.init.d/30_language-pack-ko.sh:/etc/biserver.init.d/30_language-pack-ko.sh:ro"
      - "./biserver.init.d/30_language-pack-pt_BR.sh:/etc/biserver.init.d/30_language-pack-pt_BR.sh:ro"
      - "./biserver.init.d/30_language-pack-pt_PT.sh:/etc/biserver.init.d/30_language-pack-pt_PT.sh:ro"
      - "./biserver.init.d/30_stsearch.sh:/etc/biserver.init.d/30_stsearch.sh:ro"
      - "./biserver.init.d/40_setup-language-packs.sh:/etc/biserver.init.d/40_setup-language-packs.sh:ro"
      - "./biserver.init.d/90_configuration/:/etc/biserver.init.d/90_configuration/:ro"
    environment:
      IS_PROXIED: "true"
      PROXY_SCHEME: "https"
      PROXY_PORT: "8443"
      FQSU_PROTOCOL: "https"
      FQSU_DOMAIN: "localhost"
      FQSU_PORT: "8443"
      WEBAPP_PENTAHO_DIRNAME: "lincebi"
      DEFAULT_ADMIN_PASSWORD: "password"
      # SECURITY_PROVIDER: "ldap"
      # LDAP_CONTEXT_SOURCE_PROVIDER_URL: "ldap://openldap:1389"
      # LDAP_CONTEXT_SOURCE_USER_DN: "cn=admin,dc=example,dc=localhost"
      # LDAP_CONTEXT_SOURCE_PASSWORD: "password"
      # LDAP_ALL_AUTHORITIES_SEARCH_SEARCH_BASE: "ou=groups,dc=example,dc=localhost"
      # LDAP_ALL_AUTHORITIES_SEARCH_SEARCH_FILTER: "(objectClass=groupOfUniqueNames)"
      # LDAP_ALL_USERNAMES_SEARCH_SEARCH_BASE: "ou=users,dc=example,dc=localhost"
      # LDAP_ALL_USERNAMES_SEARCH_SEARCH_FILTER: "(objectClass=inetOrgPerson)"
      # LDAP_USER_SEARCH_SEARCH_FILTER: "(cn={0})"
      # LDAP_POPULATOR_GROUP_SEARCH_FILTER: "(uniqueMember={0})"
      # LDAP_ADMIN_ROLE: "cn=Administrator,ou=groups,dc=example,dc=localhost"
      STORAGE_TYPE: "postgres"
      POSTGRES_HOST: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "password"
      STAGILE_LICENSE_B64: "${STAGILE_LICENSE_B64-}"
      STDASHBOARD_LICENSE_B64: "${STDASHBOARD_LICENSE_B64-}"
      STMETADATAWIZARD_LICENSE_B64: "${STMETADATAWIZARD_LICENSE_B64-}"
      STPANELS_LICENSE_B64: "${STPANELS_LICENSE_B64-}"
      STPIVOT_LICENSE_B64: "${STPIVOT_LICENSE_B64-}"
      STREPORT_LICENSE_B64: "${STREPORT_LICENSE_B64-}"
      POWERBI_DEFAULT_CLIENT_ID: "${POWERBI_DEFAULT_CLIENT_ID-}"
      POWERBI_DEFAULT_AUTHENTICATION_TYPE: "ServicePrincipal"
      POWERBI_DEFAULT_SERVICEPRINCIPAL_TENANT_ID: "${POWERBI_DEFAULT_SERVICEPRINCIPAL_TENANT_ID-}"
      POWERBI_DEFAULT_SERVICEPRINCIPAL_CLIENT_SECRET: "${POWERBI_DEFAULT_SERVICEPRINCIPAL_CLIENT_SECRET-}"
      SUPERSET_DEFAULT_URL: "${SUPERSET_DEFAULT_URL-}"
      SUPERSET_DEFAULT_EXTERNAL_URL: "${SUPERSET_DEFAULT_EXTERNAL_URL-${SUPERSET_DEFAULT_URL-}}"
      SUPERSET_DEFAULT_PROVIDER: "${SUPERSET_DEFAULT_PROVIDER-}"
      SUPERSET_DEFAULT_USERNAME: "${SUPERSET_DEFAULT_USERNAME-}"
      SUPERSET_DEFAULT_PASSWORD: "${SUPERSET_DEFAULT_PASSWORD-}"
      SUPERSET_DEFAULT_GUEST_USERNAME: "${SUPERSET_DEFAULT_GUEST_USERNAME-}"
      SUPERSET_DEFAULT_GUEST_FIRSTNAME: "${SUPERSET_DEFAULT_GUEST_FIRSTNAME-}"
      SUPERSET_DEFAULT_GUEST_LASTNAME: "${SUPERSET_DEFAULT_GUEST_LASTNAME-}"
      PROXY_ALLOWED_ORIGINS: "${PROXY_ALLOWED_ORIGINS:-}"
    depends_on:
      # openldap:
      #   condition: "service_started"
      postgres:
        condition: "service_healthy"

  # openldap:
  #   image: *openldap-image
  #   networks:
  #     - "lincebi"
  #   volumes:
  #     - "./bootstrap.ldif:/ldifs/bootstrap.ldif:ro"
  #     - "openldap-data:/bitnami/openldap/"
  #   environment:
  #     LDAP_ROOT: "dc=example,dc=localhost"
  #     LDAP_ADMIN_USERNAME: "admin"
  #     LDAP_ADMIN_PASSWORD: "password"
  #     LDAP_CUSTOM_LDIF_DIR: "/ldifs/"
  #     LDAP_SKIP_DEFAULT_TREE: "yes"

  postgres:
    image: *postgres-image
    networks:
      - "lincebi"
    ports:
      - "127.0.0.1:5432:5432/tcp"
    volumes:
      - "postgres-data:/var/lib/postgresql/data/"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "password"
    healthcheck:
      test: ["CMD", "pg_isready", "-qU", "postgres"]
      start_period: "60s"
      interval: "10s"
      timeout: "10s"
      retries: 2

volumes:
  caddy-data:
  # openldap-data:
  postgres-data:

networks:
  lincebi:
    driver: "bridge"
    internal: false
