<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>Power BI</title>
	<!-- https://www.jsdelivr.com/package/npm/powerbi-client -->
	<script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.19.1/dist/powerbi.min.js" integrity="sha256-YBQ8JolhxoY4aL7pW0LGbagpxU41jzPJNZzTTTmed3Y=" crossorigin="anonymous"></script>
	<style>
		html, body, iframe {
			margin: 0;
			padding: 0;
			border: 0;
			height: 100vh;
			width: 100vw;
			box-sizing: border-box;
		}

		body {
			overflow: hidden;
		}
	</style>
</head>

<body>
	<script th:inline="javascript">
		(() => {
			'use strict';

			const embedConfig = JSON.parse(/*[[${embedConfig}]]*/'');
			const reportPageName = /*[[${reportPageName}]]*/'';

			const { service, factories, models } = window['powerbi-client'];
			const powerbiInstance = new service.Service(factories.hpmFactory, factories.wpmpFactory, factories.routerFactory);

			let resourceConfig;
			if (embedConfig.report) {
				document.title = embedConfig.report.name;
				resourceConfig = {
					type: 'report',
					id: embedConfig.report.id,
					embedUrl: embedConfig.report.embedUrl,
					accessToken: embedConfig.embedToken.token,
					tokenType: models.TokenType.Embed,
					permissions: models.Permissions.Read,
					viewMode: models.ViewMode.View,
					pageName: reportPageName ? reportPageName : undefined,
				};
			} else if (embedConfig.dashboard) {
				document.title = embedConfig.dashboard.displayName;
				resourceConfig = {
					type: 'dashboard',
					id: embedConfig.dashboard.id,
					embedUrl: embedConfig.dashboard.embedUrl,
					accessToken: embedConfig.embedToken.token,
					tokenType: models.TokenType.Embed,
					permissions: models.Permissions.Read,
					viewMode: models.ViewMode.View,
					pageView: 'fitToWidth',
				};
			} else {
				alert('Undefined resource type');
				return;
			}

			const resource = powerbiInstance.embed(document.body, resourceConfig);

			if (embedConfig.dashboard) {
				resource.on('tileClicked', ({ detail }) => {
					const navigationData = detail.navigationUrl.match(/\/reports\/([0-9A-fa-f-]+)\/(ReportSection[0-9A-Fa-f]+)/);
					if (!navigationData) return;

					const [, reportId, reportPageName] = navigationData;
					window.location.search = new URLSearchParams({
						workspaceId: embedConfig.workspaceId,
						reportId,
						reportPageName,
					}).toString();
				});
			}
		})();
	</script>
</body>

</html>
