<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<title>Signing in...</title>
	<!-- https://www.jsdelivr.com/package/npm/@azure/msal-browser -->
	<script src="https://cdn.jsdelivr.net/npm/@azure/msal-browser@5.21.0/lib/redirect-bridge/msal-redirect-bridge.min.js" integrity="sha256-NqhbsAvb/Bk0m7X+Q9piLPj4mrLm9feleVJCZAvbXw8=" crossorigin="anonymous"></script>
</head>

<body>
	Signing in...
	<script>
		window['msalRedirectBridge'].broadcastResponseToMainFrame().catch((error) => {
			console.error('broadcasting the auth response to the main window failed', error);
		});
	</script>
</body>

</html>
