<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>Power BI</title>
	<!-- https://www.jsdelivr.com/package/npm/@azure/msal-browser -->
	<script src="https://cdn.jsdelivr.net/npm/@azure/msal-browser@2.32.2/lib/msal-browser.min.js" integrity="sha256-gZtDInfurCtX7gR/oHx5piE2caRQZqsP/A6sUucYQNs=" crossorigin="anonymous"></script>
	<!-- https://www.jsdelivr.com/package/npm/powerbi-client -->
	<script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.22.1/dist/powerbi.min.js" integrity="sha256-ikn0CxAYJu6If6lz9avLPTZ/KNvCrWROSEBZ0ntN4KA=" crossorigin="anonymous"></script>
	<style>
		html, body, iframe {
			margin: 0;
			padding: 0;
			border: 0;
			height: 100vh;
			width: 100vw;
			box-sizing: border-box;
		}

		body {
			overflow: hidden;
		}
	</style>
</head>

<body>
	<script th:inline="javascript">
		(async () => {
			'use strict';

			const clientId = /*[[${clientId}]]*/'';
			const workspaceId = /*[[${workspaceId}]]*/'';
			const reportId = /*[[${reportId}]]*/'';
			const reportPageName = /*[[${reportPageName}]]*/'';
			const dashboardId = /*[[${dashboardId}]]*/'';

			const { PublicClientApplication } = window['msal'];
			const msalInstance = new PublicClientApplication({
				system: {
					asyncPopups: true,
				},
				auth: {
					clientId,
					navigateToLoginRequestUrl: false,
					redirectUri: `${window.location.origin}${window.location.pathname}`,
				}
			});

			let accessToken;
			const scopes = ['https://analysis.windows.net/powerbi/api/Report.Read.All'];
			const accounts = msalInstance.getAllAccounts();

			try {
				if (accounts.length > 0) {
					({ accessToken } = await msalInstance.acquireTokenSilent({
						scopes,
						account: accounts[0],
					}));
				} else {
					({ accessToken } = await msalInstance.acquireTokenPopup({
						scopes,
					}));
				}
			} catch (error) {
				alert(`Authentication error:\n${error.message}`);
				return;
			}

			const { service, factories, models } = window['powerbi-client'];
			const powerbiInstance = new service.Service(factories.hpmFactory, factories.wpmpFactory, factories.routerFactory);

			let endpointUrl;
			if (reportId) {
				endpointUrl = `https://api.powerbi.com/v1.0/myorg/groups/${workspaceId}/reports/${reportId}`;
			} else if (dashboardId) {
				endpointUrl = `https://api.powerbi.com/v1.0/myorg/groups/${workspaceId}/dashboards/${dashboardId}`;
			} else {
				alert('Undefined resource type');
				return;
			}

			const response = await fetch(endpointUrl, {
				method: 'GET',
				headers: { Authorization: `Bearer ${accessToken}` },
			});

			if (response.status >= 200 && response.status < 400) {
				const data = await response.json();

				let resourceConfig;
				if (reportId) {
					document.title = data.name;
					resourceConfig = {
						type: 'report',
						id: data.id,
						embedUrl: data.embedUrl,
						accessToken,
						tokenType: models.TokenType.Aad,
						permissions: models.Permissions.Read,
						viewMode: models.ViewMode.View,
						pageName: reportPageName ? reportPageName : undefined,
					};
				} else if (dashboardId) {
					document.title = data.displayName;
					resourceConfig = {
						type: 'dashboard',
						id: data.id,
						embedUrl: data.embedUrl,
						accessToken,
						tokenType: models.TokenType.Aad,
						permissions: models.Permissions.Read,
						viewMode: models.ViewMode.View,
						pageView: 'fitToWidth',
					};
				} else {
					return;
				}

				const resource = powerbiInstance.embed(document.body, resourceConfig);

				if (dashboardId) {
					resource.on('tileClicked', ({ detail }) => {
						const navigationData = detail.navigationUrl.match(/\/reports\/([0-9A-fa-f-]+)\/(ReportSection[0-9A-Fa-f]+)/);
						if (!navigationData) return;

						const [, reportId, reportPageName] = navigationData;
						window.location.search = new URLSearchParams({
							workspaceId,
							reportId,
							reportPageName,
						}).toString();
					});
				}
			} else {
				alert(`Error loading resource:\n${response.status} ${response.statusText}`);
				return;
			}
		})();
	</script>
</body>

</html>
