<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>Power BI</title>
	<!-- https://www.jsdelivr.com/package/npm/@azure/msal-browser -->
	<script src="https://cdn.jsdelivr.net/npm/@azure/msal-browser@4.8.0/lib/msal-browser.min.js" integrity="sha256-v9NprukrpkP7+LO//SCxhWSJdde71WAQ9kT490ztFEM=" crossorigin="anonymous"></script>
	<!-- https://www.jsdelivr.com/package/npm/powerbi-client -->
	<script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.23.1/dist/powerbi.min.js" integrity="sha256-ryaAqfEHe9zeH09FStfIEcPbW1Qjo4BbkFByDRefEtM=" crossorigin="anonymous"></script>
	<style>
		html, body, iframe {
			margin: 0;
			padding: 0;
			border: 0;
			height: 100vh;
			width: 100vw;
			box-sizing: border-box;
		}

		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			overflow: hidden;
		}

		button {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 5px;
			padding: 0.75em;
			font-weight: 600;
			color: #ffffff;
			background-color: #117865;
			border: 0;
			border-radius: 5px;
			cursor: pointer;
		}

		button:hover, button:focus {
			background-color: #0c695a;
		}

		button:active {
			background-color: #0c5c50;
		}

		button > svg {
			height: 1em;
			width: 1em;
			vertical-align: -0.125em;
			fill: currentColor;
		}
	</style>
</head>

<body>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
		<!-- Font Awesome by @fontawesome - https://fontawesome.com -->
		<symbol id="fa-microsoft" viewBox="0 0 448 512">
			<path d="M0 32h214.6v214.6H0V32zm233.4 0H448v214.6H233.4V32zM0 265.4h214.6V480H0V265.4zm233.4 0H448V480H233.4V265.4z" />
		</symbol>
	</svg>
	<script th:inline="javascript">
		(async () => {
			'use strict';

			const clientId = /*[[${clientId}]]*/'';
			const tenantId = /*[[${tenantId}]]*/'';
			const workspaceId = /*[[${workspaceId}]]*/'';
			const reportId = /*[[${reportId}]]*/'';
			const reportPageName = /*[[${reportPageName}]]*/'';
			const dashboardId = /*[[${dashboardId}]]*/'';

			const { service, factories, models } = window['powerbi-client'];
			const powerbi = new service.Service(factories.hpmFactory, factories.wpmpFactory, factories.routerFactory);

			const { PublicClientApplication } = window['msal'];
			const msal = new PublicClientApplication({
				system: {
					asyncPopups: true,
				},
				auth: {
					clientId,
					authority: `https://login.microsoftonline.com/${tenantId}`,
					navigateToLoginRequestUrl: false,
					redirectUri: `${window.location.origin}${window.location.pathname}`,
				}
			});
			await msal.initialize();

			const calculateReportLayout = async (report) => {
				const { width, height } = window.screen;
				let layout = models.LayoutType.Master;
				if (Math.min(width, height) < 768) {
					const mobileLayout = width > height
						? models.LayoutType.MobileLandscape
						: models.LayoutType.MobilePortrait;
					const page = await report.getActivePage();
					if (await page.hasLayout(mobileLayout)) {
						layout = mobileLayout;
					}
				}
				return layout;
			};

			const changeReportLayout = async (report, layout) => {
				report.config.settings.layoutType = layout;
				const bookmark = await report.bookmarksManager.capture();
				report = await loadReport(report.element, report.config);
				report.bookmarksManager.applyState(bookmark.state);
				return report;
			};

			const loadReport = (element, config) => new Promise((resolve, reject) => {
				try {
					powerbi.reset(element);
					const report = powerbi.load(element, config);
					report.on('loaded', () => resolve(report));
				} catch (error) {
					reject(error);
				}
			});

			const renderReport = (element, config) => new Promise(async (resolve, reject) => {
				try {
					let report = await loadReport(element, config);
					const currentLayout = report.config.settings.layoutType;
					const calculatedLayout = await calculateReportLayout(report);
					if (currentLayout !== calculatedLayout) {
						report = await changeReportLayout(report, calculatedLayout);
					}
					report.render();
					report.on('rendered', () => resolve(report));
				} catch (error) {
					reject(error);
				}
			});

			const renderDashboard = (element, config) => new Promise((resolve, reject) => {
				try {
					powerbi.reset(element);
					const dashboard = powerbi.embed(element, config);
					dashboard.on('tileClicked', ({ detail }) => {
						const navigationData = detail.navigationUrl.match(/\/reports\/([0-9A-fa-f-]+)\/(ReportSection[0-9A-Fa-f]+)/);
						if (navigationData) {
							const [, reportId, reportPageName] = navigationData;
							window.location.search = new URLSearchParams({ workspaceId, reportId, reportPageName }).toString();
						}
					});
					dashboard.on('loaded', () => resolve(dashboard));
				} catch (error) {
					reject(error);
				}
			});

			const getResourceData = async (url, fallbackUrl, accessToken) => {
				let resp = await fetch(url, {
					method: 'GET',
					headers: { Authorization: `Bearer ${accessToken}` },
				});
				if (resp.status < 200 || resp.status > 299) {
					resp = await fetch(fallbackUrl, {
						method: 'GET',
						headers: { Authorization: `Bearer ${accessToken}` },
					});
					if (resp.status < 200 || resp.status > 299) {
						throw new Error(`Error loading resource:\n${resp.status} ${resp.statusText}`);
					}
				}
				return resp.json();
			};

			const getAccessToken = async () => {
				let accessToken;
				const scopes = [
					'https://analysis.windows.net/powerbi/api/Report.Read.All',
					'https://analysis.windows.net/powerbi/api/Dashboard.Read.All',
				];
				const accounts = msal.getAllAccounts();
				if (accounts.length > 0) {
					try {
						({ accessToken } = await msal.acquireTokenSilent({
							scopes,
							account: accounts[0],
						}));
					} catch (error) {
						console.error(error);
						alert(error.message);
						return;
					}
				} else {
					try {
						({ accessToken } = await msal.acquireTokenPopup({ scopes }));
					} catch (error) {
						({ accessToken } = await new Promise((resolve) => {
							const button = document.createElement('button');
							const icon = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
							const use = document.createElementNS('http://www.w3.org/2000/svg', 'use');
							use.setAttribute('href', '#fa-microsoft');
							icon.append(use);
							const text = document.createElement('span');
							text.textContent = 'Sign in with Microsoft';
							button.append(icon, text);
							button.onclick = async () => {
								resolve(await msal.acquireTokenPopup({ scopes }));
								button.remove();
							};
							document.body.appendChild(button);
						}));
					}
				}
				return accessToken;
			};

			const accessToken = await getAccessToken();

			let resourceData;
			try {
				if (reportId) {
					resourceData = await getResourceData(
						`https://api.powerbi.com/v1.0/myorg/groups/${workspaceId}/reports/${reportId}`,
						`https://api.powerbi.com/v1.0/myorg/reports/${reportId}`,
						accessToken,
					);
				} else if (dashboardId) {
					resourceData = await getResourceData(
						`https://api.powerbi.com/v1.0/myorg/groups/${workspaceId}/dashboards/${dashboardId}`,
						`https://api.powerbi.com/v1.0/myorg/dashboards/${dashboardId}`,
						accessToken,
					);
				}
			} catch (error) {
				if (reportId) {
					const embedUrl = new URL('https://app.powerbi.com/reportEmbed');
					embedUrl.searchParams.set('reportId', reportId);
					resourceData = { id: reportId, embedUrl: embedUrl.toString(), name: 'Power BI Report' };
				} else if (dashboardId) {
					const embedUrl = new URL('https://app.powerbi.com/dashboardEmbed');
					embedUrl.searchParams.set('dashboardId', dashboardId);
					resourceData = { id: dashboardId, embedUrl: embedUrl.toString(), displayName: 'Power BI Dashboard' };
				}
			}

			if (reportId) {
				document.title = resourceData.name;
				try {
					await renderReport(document.body, {
						type: 'report',
						id: resourceData.id,
						embedUrl: resourceData.embedUrl,
						accessToken,
						tokenType: models.TokenType.Aad,
						permissions: models.Permissions.Read,
						viewMode: models.ViewMode.View,
						pageName: reportPageName ?? undefined,
						settings: { layoutType: models.LayoutType.Master },
						eventHooks: { accessTokenProvider: getAccessToken },
					});
				} catch (error) {
					console.error(error);
					alert(error.message);
					return;
				}
			} else if (dashboardId) {
				document.title = resourceData.displayName;
				try {
					await renderDashboard(document.body, {
						type: 'dashboard',
						id: resourceData.id,
						embedUrl: resourceData.embedUrl,
						accessToken,
						tokenType: models.TokenType.Aad,
						permissions: models.Permissions.Read,
						viewMode: models.ViewMode.View,
						pageView: 'fitToWidth',
						eventHooks: { accessTokenProvider: getAccessToken },
					});
				} catch (error) {
					console.error(error);
					alert(error.message);
					return;
				}
			}
		})();
	</script>
</body>

</html>
