<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>Power BI</title>
	<!-- https://www.jsdelivr.com/package/npm/@azure/msal-browser -->
	<script src="https://cdn.jsdelivr.net/npm/@azure/msal-browser@2.33.0/lib/msal-browser.min.js" integrity="sha256-bOZFbF5d4v0l2pvQFiARTE34MyUTATCY4PD6Lm1jnnE=" crossorigin="anonymous"></script>
	<!-- https://www.jsdelivr.com/package/npm/powerbi-client -->
	<script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.22.2/dist/powerbi.min.js" integrity="sha256-GPRumkNd40wqiOWtRmX3etIAyoqWwlP8imGrJVkdBJs=" crossorigin="anonymous"></script>
	<style>
		html, body, iframe {
			margin: 0;
			padding: 0;
			border: 0;
			height: 100vh;
			width: 100vw;
			box-sizing: border-box;
		}

		body {
			overflow: hidden;
		}
	</style>
</head>

<body>
	<script th:inline="javascript">
		(async () => {
			'use strict';

			const clientId = /*[[${clientId}]]*/'';
			const workspaceId = /*[[${workspaceId}]]*/'';
			const reportId = /*[[${reportId}]]*/'';
			const reportPageName = /*[[${reportPageName}]]*/'';
			const dashboardId = /*[[${dashboardId}]]*/'';

			const { service, factories, models } = window['powerbi-client'];
			const powerbi = new service.Service(factories.hpmFactory, factories.wpmpFactory, factories.routerFactory);

			const { PublicClientApplication } = window['msal'];
			const msal = new PublicClientApplication({
				system: {
					asyncPopups: true,
				},
				auth: {
					clientId,
					navigateToLoginRequestUrl: false,
					redirectUri: `${window.location.origin}${window.location.pathname}`,
				}
			});

			const calculateReportLayout = async (report) => {
				const { width, height } = window.screen;
				let layout = models.LayoutType.Master;
				if (Math.min(width, height) < 768) {
					const mobileLayout = width > height
						? models.LayoutType.MobileLandscape
						: models.LayoutType.MobilePortrait;
					const page = await report.getActivePage();
					if (await page.hasLayout(mobileLayout)) {
						layout = mobileLayout;
					}
				}
				return layout;
			};

			const changeReportLayout = async (report, layout) => {
				report.config.settings.layoutType = layout;
				const bookmark = await report.bookmarksManager.capture();
				report = await loadReport(report.element, report.config);
				report.bookmarksManager.applyState(bookmark.state);
				return report;
			};

			const loadReport = (element, config) => new Promise((resolve, reject) => {
				try {
					powerbi.reset(element);
					const report = powerbi.load(element, config);
					report.on('loaded', () => resolve(report));
				} catch (error) {
					reject(error);
				}
			});

			const renderReport = (element, config) => new Promise(async (resolve, reject) => {
				try {
					let report = await loadReport(element, config);
					const currentLayout = report.config.settings.layoutType;
					const calculatedLayout = await calculateReportLayout(report);
					if (currentLayout !== calculatedLayout) {
						report = await changeReportLayout(report, calculatedLayout);
					}
					report.render();
					report.on('rendered', () => resolve(report));
				} catch (error) {
					reject(error);
				}
			});

			const renderDashboard = (element, config) => new Promise((resolve, reject) => {
				try {
					powerbi.reset(element);
					const dashboard = powerbi.embed(element, config);
					dashboard.on('tileClicked', ({ detail }) => {
						const navigationData = detail.navigationUrl.match(/\/reports\/([0-9A-fa-f-]+)\/(ReportSection[0-9A-Fa-f]+)/);
						if (navigationData) {
							const [, reportId, reportPageName] = navigationData;
							window.location.search = new URLSearchParams({ workspaceId, reportId, reportPageName }).toString();
						}
					});
					dashboard.on('loaded', () => resolve(dashboard));
				} catch (error) {
					reject(error);
				}
			});

			let accessToken;
			const scopes = [
				'https://analysis.windows.net/powerbi/api/Report.Read.All',
				'https://analysis.windows.net/powerbi/api/Dashboard.Read.All',
			];
			const accounts = msal.getAllAccounts();
			try {
				if (accounts.length > 0) {
					({ accessToken } = await msal.acquireTokenSilent({
						scopes,
						account: accounts[0],
					}));
				} else {
					({ accessToken } = await msal.acquireTokenPopup({
						scopes,
					}));
				}
			} catch (error) {
				alert(`Authentication error:\n${error.message}`);
				return;
			}

			let apiUrl;
			if (reportId) {
				apiUrl = `https://api.powerbi.com/v1.0/myorg/groups/${workspaceId}/reports/${reportId}`;
			} else if (dashboardId) {
				apiUrl = `https://api.powerbi.com/v1.0/myorg/groups/${workspaceId}/dashboards/${dashboardId}`;
			}
			const apiResponse = await fetch(apiUrl, {
				method: 'GET',
				headers: { Authorization: `Bearer ${accessToken}` },
			});
			if (apiResponse.status < 200 || apiResponse.status > 299) {
				alert(`Error loading resource:\n${apiResponse.status} ${apiResponse.statusText}`);
				return;
			}
			const apiResponseData = await apiResponse.json();

			if (reportId) {
				document.title = apiResponseData.name;
				try {
					await renderReport(document.body, {
						type: 'report',
						id: apiResponseData.id,
						embedUrl: apiResponseData.embedUrl,
						accessToken,
						tokenType: models.TokenType.Aad,
						permissions: models.Permissions.Read,
						viewMode: models.ViewMode.View,
						pageName: reportPageName ? reportPageName : undefined,
						settings: { layoutType: models.LayoutType.Master },
					});
				} catch (error) {
					alert(error.message);
				}
			} else if (dashboardId) {
				document.title = apiResponseData.displayName;
				try {
					await renderDashboard(document.body, {
						type: 'dashboard',
						id: apiResponseData.id,
						embedUrl: apiResponseData.embedUrl,
						accessToken,
						tokenType: models.TokenType.Aad,
						permissions: models.Permissions.Read,
						viewMode: models.ViewMode.View,
						pageView: 'fitToWidth',
					});
				} catch (error) {
					alert(error.message);
				}
			}
		})();
	</script>
</body>

</html>
