body {
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
}

.flex-column {
	display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-vertical {
	justify-content: flex-start;
	height: 100%
}

.panel-heading > .row {
	height: 34px;
}

.section-title {
	text-align: center;
}


.favorite-button {
	cursor: pointer;
}
.fa-star {
    color: gold;
}