@mixin border-collapse($color: $border-color, $width: $border-width) {
	box-shadow:
		$width 0 0 0 $color,
		0 $width 0 0 $color,
		$width $width 0 0 $color,
		$width 0 0 0 $color inset,
		0 $width 0 0 $color inset;
}
