/* Bootstrap colors */
$theme-colors: (
	"primary": #7a9e3f,
	"secondary": #6c757d,
	"success": #28a745,
	"danger": #dc3545,
	"warning": #ffc107,
	"info": #17a2b8,
	"light": #f8f9fa,
	"dark": #343a40
);

$yiq-text-dark: #495057;
$yiq-text-light: #f8f9fa;
