.font-weight-semibold {
	font-weight: $font-weight-semibold !important;
}

/* Increase margin between icons and labels */
img + .lbl,
.svg-inline--fa + .lbl {
	margin-right: 0;
	margin-left: toRem(8);

	[dir='rtl'] & {
		margin-right: toRem(8);
		margin-left: 0;
	}
}

/* Custom style for tabs */
.nav-tabs > .nav-item > .nav-link {
	font-size: $h5-font-size;

	&.active {
		font-weight: 600;
		border-bottom: toRem(4) solid map-get($theme-colors, 'primary');
	}

	&:not(.active) {
		color: lighten(map-get($theme-colors, 'dark'), 20%);
	}

	&.disabled {
		cursor: not-allowed;
		pointer-events: inherit;
	}
}

/* Fix RTL support for input groups */
[dir='rtl'] .input-group {
	> .input-group-prepend > .btn-group > .btn {
		border-radius: 0 $border-radius $border-radius 0;
	}

	> .input-group-append > .btn-group > .btn {
		border-radius: $border-radius 0 0 $border-radius;
	}
}

/* Fix RTL support for form tags */
.b-form-tag {
	gap: toRem(4) !important;

	.b-form-tag-remove {
		margin-left: 0 !important;
	}
}

/* Backport of Bootstrap 5 gap utility class */
@each $key, $value in $spacers {
	.gap-#{$key} {
		gap: $value !important;
	}
}

/* max-{width,height} utility classes */
@each $key, $value in $sizes {
	.mw-#{$key} {
		max-width: $value !important;
	}
	.mh-#{$key} {
		max-height: $value !important;
	}
}

.float-start {
	float: left !important;

	[dir='rtl'] & {
		float: right !important;
	}
}

.float-end {
	float: right !important;

	[dir='rtl'] & {
		float: left !important;
	}
}
