/* Increase margin between icons and labels */
img + .lbl, .svg-inline--fa + .lbl {
	margin-right: 0;
	margin-left: rem(8);

	[dir='rtl'] & {
		margin-right: rem(8);
		margin-left: 0;
	}
}

/* Fix RTL support for input groups */
[dir='rtl'] .input-group {
	> .input-group-prepend > .btn-group > .btn {
		border-radius: 0 $border-radius $border-radius 0;
	}

	> .input-group-append > .btn-group > .btn {
		border-radius: $border-radius 0 0 $border-radius;
	}
}
