/* STSearch */
#buscador {
	margin-left: 20px;
	height: 40px;
	font-size: 20px;
	color: #666;
	border-radius: 0px;
	width: 500px;
}

#filter-panel,
#tag-header {
	display: none;
}

#filtro_extension {
	padding-bottom: 30px;
	padding: 0px;
	font-size: 25px;
	color: #666;
}
#filtro_extension select {
	height: 40px;
}
.loader {
	border-top: 7px solid #eee;
	border-right: 7px solid #ddd;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid #bbb;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
	position: absolute;
	right: 45px;
	top: 55px;
}
#boton_buscar {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 30px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	transform: rotate(7deg);
}
#boton_buscar:hover {
	font-size: 30px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-ms-transform: rotate(-70deg); /* IE 9 */
	-webkit-transform: rotate(-70deg); /* Chrome, Safari, Opera */
	transform: rotate(-70deg);
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.oculto {
	display: none;
}
.input-group[class*='col-'] {
	float: left;
}
.form-control {
	height: 40px !important;
	margin-bottom: 0px !important;
}
#filtro_olap,
#filtro_dashboard,
#filtro_report,
#filtro_stagile,
#filtro_cde {
	-webkit-filter: brightness(0%) opacity(50%);
	filter: brightness(0%) opacity(50%);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-size: 20px;
	color: #111;
	cursor: pointer;
	padding: 5px;
	height: 40px;
}
.filtro_activo {
	-webkit-filter: grayscale(0%) !important;
	filter: grayscale(0%) !important;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#check_fecha {
	margin: 6px;
	margin-left: 20px;
}
.pestania_repository {
	color: #666;
	border-bottom: solid 1px #ccc;
	display: block;
	padding: 5px 10px;
}
.buscar_olap,
.buscar_dashboard,
.buscar_report,
.buscar_stagile,
.buscar_cde {
	display: none;
	min-height: 40px;
}
#repository_browser_buscar .buscar_olap img,
#repository_browser_buscar .buscar_dashboard img,
#repository_browser_buscar .buscar_report img,
#repository_browser_buscar .buscar_stagile img,
#repository_browser_buscar .buscar_cde img {
	margin-top: 0px;
	max-height: 100px;
	max-width: 100px;
}
#repository_browser .buscar_olap img,
#repository_browser .buscar_dashboard img,
#repository_browser .buscar_report img,
#repository_browser .buscar_stagile img,
#repository_browser .buscar_cde img {
	margin-top: 0px;
	max-height: 25px;
	max-width: 25px;
}
.buscar_olap span:not(.element-tag),
.buscar_dashboard span:not(.element-tag),
.buscar_report span:not(.element-tag),
.buscar_stagile span:not(.element-tag),
.buscar_cde span:not(.element-tag) {
	margin-top: 15px;
	margin-left: 15px;
}
#reset_filtros {
	cursor: pointer;
}
.column0 {
	text-align: center;
}
.ui-widget {
	font-family: OpenSansRegular, Helvetica, Arial, Sans serif !important;
	font-weight: normal !important;
}
.ui-widget-header {
	border: 1px #ccc solid !important;
	font-weight: bold !important;
	color: white;
	background: #7a9e3f;
}
.ui-menu-item:before,
.ui-menu-item {
	content: '' !important;
	padding-left: 0px !important;
}
.ui-menu-item {
	height: 45px;
	position: flex !important;
}
.ui-menu-item .ui-corner-all {
	padding-left: 15px !important;
}
ul.tagit li.tagit-new {
	height: 30px !important;
	display: flex !important;
	border-bottom: 0px !important;
}
.ui-widget-header .ui-icon {
	filter: brightness(0) invert(1);
}
.ruta {
	padding-top: 10px !important;
}
.ruta i {
	cursor: pointer;
	margin-top: 5px;
	margin-left: -10px;
}
.fa-pencil-square-o,
.fa-plus {
	font-size: 140%;
	position: absolute;
	left: 0;
	color: #7a9e3f;
}
.column1 {
	margin-top: 10px;
}
.column4 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}
#modal-descripcion {
	height: 100px;
	width: 100%;
	resize: vertical;
	border: 1px #ddd solid;
	padding: 10px;
}
#borrar_tags {
	margin-top: 10px;
}
button,
html input[type='button'],
input[type='submit'] {
	color: #ffffff;
	padding: 4px 14px 6px 14px;
	font-family: opensanslight, Helvetica, Arial, Sans serif;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 0px solid #333;
	white-space: nowrap;
	cursor: pointer;
	background: #7a9e3f;
	margin: 5px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: #f6f6f6 !important;
	font-weight: normal !important;
}
#datepicker_filtro {
	height: 40px;
	width: 100%;
}
#dialog {
	display: none;
}
.ui-widget-header .ui-icon {
	background-image: url(../images/ui-icons_0073ea_256x240.png);
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: #ccc solid 1px;
	background: #f6f6f6;
}
#show_repository,
#reset_filters {
	border: 1px #ccc solid;
	font-size: 27px;
	color: #666;
	background: #f6f6f6;
	cursor: pointer;
}
#show_repository:hover,
#reset_filters:hover,
#show_repository .active {
	border: 1px #ccc solid;
	color: #666;
	background: #ddd;
	cursor: pointer;
}
.thumb_result {
	width: 100%;
	height: auto !important;
	border: 1px #ccc solid;
}
.type_result {
	width: 25px;
	height: 25px;
}
.buscar_olap {
	margin-left: 0px;
	border-left: 6px solid #afb837;
	display: block;
	height: 100px;
	background: #f1f1f1;
	color: #afb837 !important;
}
.buscar_dashboard {
	margin-left: 0px;
	border-left: 6px solid #097fb4;
	display: block;
	height: 100px;
	background: #f1f1f1;
	color: #097fb4 !important;
}
.buscar_report {
	margin-left: 0px;
	border-left: 6px solid #ed7c36;
	display: block;
	height: 100px;
	background: #f1f1f1;
	color: #ed7c36 !important;
}
.buscar_stagile {
	margin-left: 0px;
	border-left: 6px solid #de0000;
	display: block;
	height: 100px;
	background: #f1f1f1;
	color: #de0000 !important;
}
.buscar_cde {
	margin-left: 0px;
	border-left: 6px solid #d6a0ce;
	display: block;
	height: 100px;
	background: #f1f1f1;
	color: #d6a0ce !important;
}
.titulos {
	font-size: 20px;
}
#repository_browser {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	display: none;
	background: #f2f2f2;
	border-left: #9dc221 6px solid;
	padding-bottom: 20px;
	width: 99% !important;
	margin: 0px;
}
#path {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	display: none;
	background: #f2f2f2;
	border-left: #9dc221 6px solid;
	width: 99% !important;
	margin: 0px;
}
.mostrar {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 1 !important;
	display: inline-block !important;
}
.resultado_buscar .col-md-10 img {
	margin-top: 0px;
	height: 30px;
}
.buscar_dashboard .titulos {
	color: #097fb4;
}
.buscar_olap .titulos {
	color: #afb837;
}
.buscar_report .titulos {
	color: #ed7c36;
}
.buscar_stagile .titulos {
	color: #de0000;
}
.buscar_cde .titulos {
	color: #d6a0ce;
}
.resultado_buscar .description {
	min-height: 20px;
	color: #999;
	font-style: italic;
}
.resultado_buscar .col-md-1 {
	padding: 0;
}
.tags {
	padding-left: 35px;
}
.resultado_buscar .tags i {
	padding: 3px;
	padding-bottom: 1px;
	border-radius: 3px;
	color: white;
	margin-left: 0px;
	margin-top: 4px;
	padding-right: 5px;
}
.buscar_dashboard .tags i {
	background: #097fb4;
	border: 1px #097fb4 solid;
}
.buscar_olap .tags i {
	background: #afb837;
	border: 1px #afb837 solid;
}
.buscar_report .tags i {
	background: #ed7c36;
	border: 1px #ed7c36 solid;
}
.buscar_stagile .tags i {
	background: #de0000;
	border: 1px #de0000 solid;
}
.buscar_cde .tags i {
	background: #d6a0ce;
	border: 1px #d6a0ce solid;
}
.repository_style {
	border-left: 0px solid #ed7c36 !important;
	height: auto !important;
}
input[type='text'],
.bootstrap .pentaho-dialog input[type='text'] {
	border: 0px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	width: 100% !important;
}

ul.tagit li.tagit-choice-editable {
	padding: 0.2em 20px 0.2em 1em !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	color: #9dc221 !important;
}
.ui-autocomplete-input {
	border: 0px solid #ccc !important;
	border-bottom: 0px solid #ccc !important;
}
#repository_browser_buscar,
#repository_browser {
	padding-right: 0;
}

.search-form-btn {
	display: inline-block;
	width: 70px;
	border-radius: 0;
}
.search-form-btn:not(:first-child) {
	margin-left: 10px;
}
.search-filter-box {
	margin-bottom: 10px;
}

/* Favorite */
.favorite-button {
	cursor: pointer;
}

.favorite-button .fa-star {
	color: gold;
}

/* Tags */
.element-tag,
.tag.element-tag {
	display: inline-block;
	background: #f5f5f5;
	color: #111;
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 2px 10px;
	margin: 3px;
}

.element-tag:hover {
	background: white;
	color: #7a9e3f;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.element-tag:not(.tag):hover {
	cursor: pointer;
}

span[data-role='remove']:after {
	content: '\f00d' !important;
	font-family: FontAwesome !important;
	font-size: 11px;
}

#dialog .bootstrap-tagsinput {
	width: 100%;
	height: 46px;
	overflow: auto;
}

.bootstrap-tagsinput input {
	border: 0 !important;
	width: auto !important;
	padding: 2px 10px;
	margin: 4px;
}

/* Tag header */
#tag-header {
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.backgroundBI {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 180px;
	min-width: 180px;
	border-radius: 50%;
	background-color: #fff;
	margin-right: 15px;
}

.backgroundBI > img {
	width: 75%;
}

.titleBI {
	font-size: 15px;
	color: #666;
	line-height: 22px;
	background: white;
	padding: 10px;
	border-radius: 10px;
}

.subtitleBI {
	font-size: 20px;
	font-weight: Bold;
}

.marketing-tag {
	color: #ff7058;
}

.retail-tag {
	color: #962a2a;
}

.finance-tag {
	color: #aa6455;
}

.ngo-tag {
	color: #657c48;
}

.gov-tag {
	color: #d87395;
}

.e-commerce-tag {
	color: #d19d09;
}

.telco-tag {
	color: #0c4384;
}

.utilities-tag {
	color: #805a8e;
}

.tourism-tag {
	color: #98bc00;
}

.education-tag {
	color: #0da6c9;
}

.health-tag {
	color: #408974;
}

.rrhh-tag {
	color: #ff016a;
}

.pharma-tag {
	color: #7878d1;
}

.marketing-background {
	background-color: #ff7058;
}

.retail-background {
	background-color: #962a2a;
}

.finance-background {
	background-color: #aa6455;
}

.ngo-background {
	background-color: #657c48;
}

.gov-background {
	background-color: #d87395;
}

.e-commerce-background {
	background-color: #d19d09;
}

.telco-background {
	background-color: #0c4384;
}

.utilities-background {
	background-color: #805a8e;
}

.tourism-background {
	background-color: #98bc00;
}

.education-background {
	background-color: #0da6c9;
}

.health-background {
	background-color: #408974;
}

.rrhh-background {
	background-color: #ff016a;
}

.pharma-background {
	background-color: #7878d1;
}
